<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <a href="index.html" class="logo-link">
                <span class="logo-text">ADRIEN KAHN</span>
            </a>
        </div>

        <nav class="desktop-nav">
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link" id="accueil-link">Accueil</a></li>
                <li><a href="app-game" class="nav-link" id="jeu-link">Jeu</a></li>
                <li><a href="app-character-viewer" class="nav-link" id="character-viewer-link">Personnage</a></li>
            </ul>
        </nav>

        <div class="mobile-nav-trigger">
            <app-burger-menu></app-burger-menu>
        </div>
    </div>
</header>