
html, body { height: 100%; }
body {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    width: 100%;
    font-style: normal;
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: aliceblue;
}

h1 {
    text-align: left;
    font-family: "Boldonse", system-ui;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

h2 {
    font-size: 5vw;
    text-align: left;
    font-family: "Karla", system-ui;
    font-style: normal;
    margin: 5rem;
    width: 100%;
}

h3 {
    font-size: 3vw;
    text-align: left;
    font-family: "Karla", system-ui;
    font-style: normal;
    margin: 0;
    width: 100%;
}

a {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: aliceblue;
}

button {
    background-color: aliceblue;
    background-size: cover;
    border: none;
    font-size: 2vw;
    border-radius: 1rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

@media (max-width: 500px) {
    h1 {
        font-size: 8vw;
    }
    
    h2 {
        font-size: 6vw;
    }
    
    h3 {
        font-size: 4vw;
    }
    
    button {
        font-size: 3vw;
    }
}